# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# directory browsing
Options All -Indexes

# remove file extensions
RewriteEngine on
RewriteRule ^(.*).php$  http://tracking.wmsuics.tech/super_admin/$1 [R=301,L]



